/* ヘッダースタイル */
.header {
  background-color: $main-color;

  .nav {
    display: flex;
  }

  .icon {
    width: 50px;
  }

  .title {
    display: inline-block;
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
}
